/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

.button {
  border-radius: 8px;
  padding: 12px 24px;

  color: var(--button-color);
  border: 1px solid var(--button-border-color);
  background-color: var(--button-bg-color);

  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--button-shadow-color);
}


/*******************************
              Page
*******************************/

.hero {
  background-color: var(--secondary-bg-color);
  padding: 8px 24px;
}

.page {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url('images/landscape-bg.png');
}

.card__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__card {
  width: 300px;
  overflow: hidden;
  border-radius: 4px;
  margin: 24px 0;
  box-shadow: 0px 0px 16px var(--card-shadow-color);
}

.card__logo {
  background-color: var(--card-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card__desc {
  padding: 16px;
}

.footer {
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  padding: 8px 24px;
}

/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
